.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.error {
  color: var(--error);
}

.image {
  max-width: 100%;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
