.delivery-view {
  text-align: center;
  
  .header {
    display: none;
  }
  .main-content {
    display: inline-block;
    width: auto;
    
    @media @phone-xs {
      width: 90%;
    }
  }
  .left-col {
    min-height: 460px;
    width: 100%;
    padding: 0 0 15px 0;

    @media @phone-xs {
      padding-right: 0;
    }
  }
  .results {
    padding: 2rem 10px 0;
    @media @phone-xs {
      margin-right: 0;
    }
  }
}