.btn {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  padding: 10px 15px;

  &:hover {
    cursor: pointer;
  }
}

.btn-action {
  color: #fff;
  background-color: @color-action;

  &:disabled {
    background-color: desaturate(@color-action, 30%);
  }
}

.food-card {
  display: inline-block;
  width: 50%;

  .business-name {
    font-size: 2rem;
    font-weight: bold;
  }
  .main-img {
    width: 100%;
    background-size: cover;
  }
}

.fadeout {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.fadein {
  opacity: 0;
  animation: fadeIn 0.3s linear forwards;
}

.grid.effect div.animate {
  transform: scale(0.6);
  opacity: 0;
  animation: scaleUp 0.65s ease-in-out forwards;
}

@keyframes scaleUp {
  0% { }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeOut {
  0% { }
  100% {opacity: 0; height: 0;}
}

@keyframes fadeIn {
  0% { }
  100% {opacity: 1; height: 100%;}
}