.btn {
  font-size: 14px;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.btn-action {
  color: #fff;
  background-color: @color-action;

  &:disabled {
    background-color: desaturate(@color-action, 20%);
  }
}

.food-card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  
  .business-name {
    font-size: 2rem;
    font-weight: bold;
  }
  
  a {
    display: block; //link to yelp page
    margin-bottom: 1rem;
  }

  .main-img {
    width: 100%;
  }
}

.alert {
  width: 100%;
  min-height: 5rem;
  text-align: center;
  padding: 1.5rem;
  font-family: @font-family-default;
  color: #fff;
  background-color: @color-alert;
}

.close {
  font-size: 2rem;
  font-weight: bold;
  line-height: 16px;
  padding: 0 4px;
  margin-right: 20px;
  float: right;
}

.trip-details-wrap {
  font-size: 1.4rem;
}

.fadeout {
  opacity: 1;
  animation: fadeOut 0.3s ease-in-out forwards;
}

.fadein {
  opacity: 0;
  animation: fadeIn 0.3s linear forwards;
}

.grid.effect div.animate {
  transform: scale(0.6);
  opacity: 0;
  animation: scaleUp 0.65s ease-in-out forwards;
}

@keyframes scaleUp {
  0% { }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeOut {
  0% { }
  100% {opacity: 0; height: 0;}
}

@keyframes fadeIn {
  0% { }
  100% {opacity: 1; height: 100%;}
}